@font-face {
    font-family: 'inter-black';
    src: url('../fonts/inter/static/inter-black.ttf') format('truetype') local('inter-black');
}

@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/inter/static/inter-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-regular';
    src: url('../fonts/inter/static/inter-regular.ttf') format('truetype');
}
