@import "vars";


@mixin btn ($color_font: #155724, $width: 446px) {
    width: $width;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $color_font;
}


@mixin font_h2 {
    font-style: normal;
    font-weight: 400;
    font-size: $font_size_h2;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
}