@font-face {
  font-family: "inter-black";
  src: url("../fonts/inter/static/inter-black.ttf") format("truetype") local("inter-black");
}
@font-face {
  font-family: "inter-bold";
  src: url("../fonts/inter/static/inter-bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-regular";
  src: url("../fonts/inter/static/inter-regular.ttf") format("truetype");
}
.grid {
  display: grid;
}

.services_partners {
  background-image: url("../images/back_services_partners.jpg");
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}
.services_partners .container_global {
  grid-template-columns: repeat(4, minmax(100px, 344px));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 105px;
  grid-row-gap: 80px;
  padding: 132px 106px;
}
.services_partners .container_global div:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #555555;
  grid-column: 2/4;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}
.services_partners img {
  object-fit: cover;
  width: 100%;
  border: 0px;
}
.services_partners .header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}

.study {
  min-height: 100vh;
  /* background-image: url('../images/temp_img/study.jpg');*/
  background-image: url("../images/study_back.jpg");
  background-position: top;
  padding: 3.54vw 6.88vw;
  background-repeat: no-repeat;
}
.study .container_global {
  height: 100%;
  min-height: 100%;
}
.study .container_global .header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}
.study .container_global .content {
  grid-template-columns: 1fr 1fr;
  margin-top: 75px;
  grid-column-gap: 90px;
}
.study .container_global .content .text_block {
  /*width: 802px;*/
  height: 568px;
  color: #FFFFFF;
}
.study .container_global .content .text_block h3 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}
@media only screen and (max-width: 1530px) {
  .study .container_global .content .text_block h3 {
    line-height: 55px;
  }
}
@media only screen and (max-width: 1000px) {
  .study .container_global .content .text_block h3 {
    line-height: 55px;
    font-size: 38px;
  }
}
@media only screen and (max-width: 790px) {
  .study .container_global .content .text_block h3 {
    line-height: 55px;
    font-size: 38px;
  }
}
.study .container_global .content .text_block ul {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
@media only screen and (max-width: 1530px) {
  .study .container_global .content .text_block ul {
    line-height: 36px;
  }
}
.study .container_global .content .text_block .btn {
  margin-top: 30px;
  align-self: end;
  justify-self: start;
  width: 446px;
  height: 58px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #155724;
}
.study .container_global .content .img_block {
  background-image: url("../images/study_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 746px;
  object-fit: cover;
}

.shop {
  min-height: 100vh;
  /* background-image: url('../images/temp_img/study.jpg');*/
  background-image: url("../images/shop_back.jpg");
  background-position: top;
  padding: 3.54vw 6.88vw;
  background-repeat: no-repeat;
}
.shop .container_global {
  height: 100%;
  min-height: 100%;
}
.shop .container_global .header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}
.shop .container_global .content {
  grid-template-columns: 1fr 1fr;
  margin-top: 75px;
  grid-column-gap: 90px;
}
.shop .container_global .content .text_block {
  /*width: 802px;*/
  height: 568px;
  color: #FFFFFF;
}
.shop .container_global .content .text_block h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
}
@media only screen and (max-width: 1550px) {
  .shop .container_global .content .text_block h3 {
    line-height: 55px;
  }
}
@media only screen and (max-width: 1000px) {
  .shop .container_global .content .text_block h3 {
    line-height: 55px;
    font-size: 38px;
  }
}
@media only screen and (max-width: 790px) {
  .shop .container_global .content .text_block h3 {
    line-height: 55px;
    font-size: 38px;
  }
}
.shop .container_global .content .text_block ul {
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
}
@media only screen and (max-width: 1550px) {
  .shop .container_global .content .text_block ul {
    line-height: 36px;
  }
}
.shop .container_global .content .text_block .btn {
  margin-top: 40px;
  align-self: end;
  justify-self: start;
  width: 446px;
  height: 58px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #555555;
}
.shop .container_global .content .img_block {
  background-image: url("../images/shop_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 746px;
  object-fit: cover;
}

/*.shop {
    min-height: 100vh;
    background-image: url('../images/temp_img/shop.jpg');
    background-position: top;
    padding: 3.54vw 6.88vw;
    background-repeat: no-repeat;

    .btn {
        align-self: end;
        justify-self: end;
        @include btn;
    }

    .container_global {
        height: 100%;
        min-height: 100%;

        .header {

            h2 {
                @include font_h2;
            }
        }

        .content {
        }
    }
}*/
.services_scss {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding: 24px 83px;
  background: linear-gradient(360deg, #6BCBD8 0%, #ECF4F6 100vh);
}
.services_scss .container_grobal {
  grid-template-columns: repeat(3, minmax(100px, 560px));
  grid-gap: 29px;
}
.services_scss .container_grobal img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.services_scss .container_grobal img:hover, .services_scss .container_grobal img:focus {
  opacity: 0.68;
}
.services_scss .container_grobal img:hover::after, .services_scss .container_grobal img:focus::after {
  background-color: #2f2f2f;
}
.services_scss .container_grobal img:active {
  opacity: 0.9;
}
.services_scss div:nth-child(5) {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Large Devices and Wide Screen */
@media only screen and (max-width: 1200px) {
  .services_scss {
    justify-content: center;
  }
  .services_scss .container_grobal {
    grid-template-columns: repeat(2, minmax(100px, 560px));
  }
  .services_scss .container_grobal div:nth-child(5) {
    grid-column: 1/-1;
    grid-row: 1;
  }
}
@media only screen and (max-width: 992px) {
  .services_scss {
    justify-content: center;
    padding: 5px;
  }
  .services_scss .container_grobal {
    grid-template-columns: repeat(1, minmax(100px, 560px));
  }
  .services_scss .container_grobal .content .img_block {
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 830px) {
  .study .container_global .content, .shop .container_global .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin-top: 50px;
  }
  .study .container_global .content .img_block, .shop .container_global .content .img_block {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .study, .shop {
    min-height: 100%;
    padding: 30px 10px;
  }
  .study .container_global .header h2, .shop .container_global .header h2 {
    font-size: 2rem;
    line-height: 40px;
  }
  .study .container_global .content, .shop .container_global .content {
    height: 746px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 0px;
  }
  .study .container_global .content .text_block h3, .shop .container_global .content .text_block h3 {
    line-height: 45px;
    font-size: 26px;
  }
  .study .container_global .content .text_block ul, .shop .container_global .content .text_block ul {
    font-size: 20px;
    line-height: 34px;
  }
  .study .container_global .content .text_block .btn, .shop .container_global .content .text_block .btn {
    margin-top: 0px;
    align-self: end;
    justify-self: start;
    width: 290px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #155724;
  }
  .shop {
    min-height: 100%;
    padding: 10px 10px;
  }
  .shop .container_global .content {
    height: 100%;
  }
  .shop .container_global .content .text_block .btn {
    margin-top: 0px;
    align-self: end;
    justify-self: start;
    width: 290px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #555555;
  }
}
