@import "fonts";
@import "vars";
@import "mixsin";
.grid{
    display:grid;
}


.services_partners {
    background-image: url('../images/back_services_partners.jpg');
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;

    .container_global {
        grid-template-columns: repeat(4,minmax(100px,344px));
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 105px;
        grid-row-gap: 80px;
        padding: 132px 106px;

        div:nth-child(2) {
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #555555;
            grid-column: 2/4;
            grid-row: 1;
            align-items: center;
            justify-content: center;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        border:0px;
    }

    .header {

        h2 {
            @include font_h2;
        }
    }
}

.study {
    min-height: 100vh;
    /* background-image: url('../images/temp_img/study.jpg');*/
    background-image: url('../images/study_back.jpg');
    background-position: top;
    padding: 3.54vw 6.88vw;
    background-repeat: no-repeat;



    .container_global {
        height: 100%;
        min-height: 100%;


        .header {

            h2 {
                @include font_h2;
            }
        }

        .content {
            grid-template-columns: 1fr 1fr;
            margin-top: 75px;
            grid-column-gap: 90px;

            .text_block {
                /*width: 802px;*/
                height: 568px;
                color: #FFFFFF;

                h3 {
                    margin-top: 30px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 70px;

                    @media only screen and (max-width: 1530px) {
                        line-height: 55px;
                    }

                    @media only screen and (max-width: 1000px) {
                        line-height: 55px;
                        font-size: 38px;
                    }

                    @media only screen and (max-width: 790px) {
                        line-height: 55px;
                        font-size: 38px;
                    }
                }

                ul {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 40px;

                    @media only screen and (max-width: 1530px) {
                        line-height: 36px;
                    }
                }

                .btn {
                    margin-top: 30px;
                    align-self: end;
                    justify-self: start;
                    @include btn;
                }
            }

            .img_block {
                background-image: url('../images/study_img.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 746px;
                object-fit: cover;
            }
        }
    }
}
.shop {
    min-height: 100vh;
    /* background-image: url('../images/temp_img/study.jpg');*/
    background-image: url('../images/shop_back.jpg');
    background-position: top;
    padding: 3.54vw 6.88vw;
    background-repeat: no-repeat;



    .container_global {
        height: 100%;
        min-height: 100%;

        .header {

            h2 {
                @include font_h2;
            }
        }

        .content {
            grid-template-columns: 1fr 1fr;
            margin-top: 75px;
            grid-column-gap: 90px;

            .text_block {
                /*width: 802px;*/
                height: 568px;
                color: #FFFFFF;

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 70px;

                    @media only screen and (max-width: 1550px) {
                        line-height: 55px;
                    }

                    @media only screen and (max-width: 1000px) {
                        line-height: 55px;
                        font-size: 38px;
                    }

                    @media only screen and (max-width: 790px) {
                        line-height: 55px;
                        font-size: 38px;
                    }
                }

                ul {
                    margin-top: 30px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 50px;

                    @media only screen and (max-width: 1550px) {
                        line-height: 36px;
                    }
                }

                .btn {
                    margin-top: 40px;
                    align-self: end;
                    justify-self: start;
                    @include btn ($color_font:#555555);
                }
            }

            .img_block {
                background-image: url('../images/shop_img.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 746px;
                object-fit: cover;
            }
        }
    }
}
/*.shop {
    min-height: 100vh;
    background-image: url('../images/temp_img/shop.jpg');
    background-position: top;
    padding: 3.54vw 6.88vw;
    background-repeat: no-repeat;

    .btn {
        align-self: end;
        justify-self: end;
        @include btn;
    }

    .container_global {
        height: 100%;
        min-height: 100%;

        .header {

            h2 {
                @include font_h2;
            }
        }

        .content {
        }
    }
}*/


.services_scss {
    min-height: 100vh;
    align-items: center;
    text-align: center;
    padding: $services_padding_v $services_padding_h;
    background: linear-gradient(360deg, #6BCBD8 0%, #ECF4F6 100vh);


    .container_grobal {
        grid-template-columns: repeat(3, minmax(100px,560px));
        grid-gap: $grid_gap;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;

            &:hover, &:focus {
                opacity: 0.68;

                &::after {
                    background-color: darken($accent_color,15%);
                }
            }

            &:active {
                opacity: 0.90;
            }
        }
    }

    div:nth-child(5) {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

@import "media";